body {
    width: 100%;
    margin: 0;
    padding: 0;

}

section {
    position: absolute;
    background: rgba(169, 169, 169, 0.54);
    width: 80%;
    height: auto;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 1em;
    padding-left:0.5em;
    padding-right: 1em;
    padding-bottom: 0.5em;
    font-family: "helvetica",sans-serif;
    color: white;
    font-size: medium;

}

#présentation {
    text-transform: uppercase;
    width:60%;
    float:left;
    text-align: center;
    display: grid;
    grid-template-rows: 33.3% 33.3% 33.3%;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-column-gap: 0;
}
p {
    font-size: small;
}

.blocks {
    width: 33.33%;
    height: 33%;
    text-align: center;
    min-height: 33%;
}

a {
    text-align: center;
    text-decoration: none;
    color: white;
}
span {text-align: center}

.rect{
    background: #67a3ff;
    width: 100%;
    min-height: 33%;
    grid-column-start: 1;
    grid-column-end: 3;

}

#descr {
    font-size: 13px;
    text-transform: none;
}
#CV {
    float: left;
    padding:2%;
    margin-left: 10%;
    border: 1.2px solid white;
}

#cont {
    float: left;
    margin-left: 10%;
    border: 1.2px solid white;
    padding: 2%;
}

#profil {
    background: #ff8d1c;
    padding:34%;
}

#experience {
    background: #09ff10;
    padding-right:33.3%;
    padding-left:33.3%;
    padding-bottom: 32%;
    padding-top: 36%;
}

#formation {
    background: rgba(255, 47, 40, 0.6);
    padding-right:33.3%;
    padding-left:33.3%;
    padding-bottom: 31%;
    padding-top: 36%;
}

#blog {
    background: #09ff10;
    padding-right:33.4%;
    padding-left:33.33%;
    padding-bottom: 31%;
    padding-top: 36%;
}


#reseaux {
    background: #67a3ff;
    padding-right:33.3%;
    padding-left:33.3%;
    padding-bottom: 31%;
    padding-top: 35%;
}

#contact {
    background: greenyellow;
    padding-right:33.3%;
    padding-left:33.3%;
    padding-bottom: 31%;
    padding-top: 35%;
}

#portfolio {
    background: rgba(255, 47, 40, 0.6);
    padding-right:33.3%;
    padding-left:33.3%;
    padding-bottom: 31%;
    padding-top: 35%;
}
#photos {
    width: 40%;
    float: right;
    height: 100%;
}

img {
    width: 100%;
}


/* mediaqueries pour tablettes*/
@media (max-width:1338px)
{
    #présentation
    { width: 100%;
        padding:0;}

}

/*pour smartphone*/
@media (max-width: 812px)
{
    #présentation {
        width: 100%;
        padding: 0;}
    .rect {
        width: 100%;
        min-width: 620px;
    }
    #photos {
        width: 100%;
    }
    #hamburger-menu >a
    {display:none}

    #hamburger-menu > span
    {display: inline-block}

    #hamburger-menu:hover > a
    {
        display: block;
        width: 80%;
        margin: 10px auto;
    }
    #hamburger-menu:hover > span{
        transform: rotate(90deg);
        transition-property: transform;
        transition-duration: 0.5s;
    }
}



