body {
    width: 100%;
    margin: 0;
    padding: 0;

}

section {
    background: darkgray;
    width: 80%;
    text-align: center;
    font-family: "helvetica",sans-serif;
    color: white;
}

#présentation {}
.blocks {}


